body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

canvas {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  flex-grow: 1; 
}

/* help using https://www.youtube.com/watch?v=FazgJVnrVuI&t=641s */
.navbar {
  background: #131313;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: -80px; 
  z-index: 999;
  transition: top 0.8s ease-in-out; 
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 50px;

}

#navbar__logo {
  background-color: #ffc908;
  background-image: linear-gradient(to top, #ffb300 0%, #ffe585 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-family: 'custom-font';
  font-size: 2rem;
}
@font-face {
  font-family: 'custom-font';
  src: url('jellies.italic.ttf');
}
.fa-gem {
  margin-right: 0.5rem;
}

.navbar__menu {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
}
.navbar__item {
  height: 80px;

}

.navbar__links {
  color: #ffc908;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 0rem 1rem;
  height: 100%;
  font-weight: bold;
}

.navbar__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  width: 100%;
}

.button {
  display: flex;
  justify-content: center
}
.button:hover {
  transition: all 0.3s ease-out;
  background: #fff;
}

.navbar__links:hover {
  color: #ff0844;
  transition: all 0.3s ease;
}

@media screen and (max-width: 960px) {
  .navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0;
  }
  .navbar__menu {
    display: grid;
    grid-template-columns: auto;
    margin: 0;
  }
}

.button:hover {
  transition: all 0.3s ease-out;
  background: #fff;
}

.navbar__links:hover {
  color: #ff0844;
  transition: all 0.3s ease;
}

@media screen and (max-width: 960px) {
  .navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0;
  }
  .navbar__menu {
    display: grid;
    grid-template-columns: auto;
    margin: 0;
    width: 100%;
    max-width: 1300px;
    position: absolute;
    top: -1000px;
    opacity: 0;
    transition: all 0.5s ease;
    height: 50vh;
    z-index: -1;
    background: #131313;
  }
  .navbar__menu.active {
    background: #131313;
    top: 100%;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 99;
    height: 50vh;
    font-size: 1.6rem;
  }
  #navbar__logo {
    padding-left: 25px;
  }
  .navbar__toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: #fff;
  }
  .navbar__item {
    width: 100%;
  }
  .navbar__links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  #mobile-menu {
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(-5%, 20%);
  }

  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80%;
    margin: 0;
  }

  .navbar__toggle .bar {
    display: block;
    cursor: pointer;
  }

  #mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }
  #mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(8px)rotate(45deg);
  }
  #mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(-8px)rotate(-45deg);
  }
}

/* Add new CSS rule */
@media screen and (min-width: 960px) {
  .navbar.sticky {
    top: -80px; /* Move navbar off the screen */
  }
}


/* help using https://www.w3schools.com/howto/howto_css_image_text.asp */
.row {
  display: flex;
  width: 100%;
}

.column {
  padding: 5%;
  display: flex;
  flex-direction: column;
}

.column.small {
  width: 40%;
  text-align: left;
}

.column.big {
  width: 60%;
  text-align: left;
}

.column.big>img {
  width: 100%;
  margin: auto;
  display: block;
}


/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 1000px) {
  .column.small, .column.big {   
    width: 100%;
    padding: 0;
  }
}
/* help using https://www.w3schools.com/howto/howto_css_flip_card.asp */
.flip-card {
  background-color: transparent;
  width: 400px;
  height: 580px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}
/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}
.flip-card-front>img {
  width: 100%;
  height: 100%;
}

/* Style the back side */
.flip-card-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}
.flip-card-back>img {
  width: 100%;
  height: 100%;
}
.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  color: #000000; 
  padding: 0px 0px; 
  font-size: 14px; 
}
/* help using https://www.w3schools.com/howto/howto_css_image_grid_responsive.asp */
div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  width: 24.99999%;
  float: left;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
/* help using https://www.w3schools.com/howto/howto_css_image_grid_responsive.asp */
div.scroll-container {
  background-color: #333;
  overflow: auto;
  white-space: nowrap;
  padding: 10px;
}

div.scroll-container img {
  padding: 10px;
  height: 580px;
}

.research_text {
  vertical-align: top;
  background-color: #333;
  padding: 60px;
  font-size: 30px;
  color: white; 
}  

.content {
  padding: 100px;
  text-align: center;
}